<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Spotify Music Analysis Dashboard</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'><link rel="stylesheet" href="/static/styles/style.css">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

   <script>var artist_stats = {{artist_stats|tojson}};
     </script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container-fluid fill">
  <div class="row">


    <div class="col-md-10">

    <div class="row">

      <div class="col-md-12">
      <div class="banner">
        <span>{{artist_stats["Artist_Name"]}}</span><a href="/" class="btn btn-info btn-sm">Back to dashboard</a>

      </div>
      <div class="artist-data-div">
      <table>
        <tr>
          <td>
          <div class="artist-chart">
      <canvas id="artist-canvas"></canvas>
      </div>
          </td>
          <td>
          <div class="banner">
          <span>Popular Songs</span>
          <ul class="artist-songs">
      {% for row in artist_stats["Details"] %}
          <li>
          <a href="#"><span>{{row['Title']}} </span><img width=24px src="{{row['GenreIcon']}}"></a>
          <span><b>Year: </b>{{row['Year']}} <b>Popularity: </b>{{row['Popularity']}}</span>
          </li>
      {% endfor %}
      </ul>
          </div>
          </td>
        </tr>
      </table>

      </div>

    </div>

      </div>



</div>
</div>
  </div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="/static/js/artistdata.js"></script>

</body>
</html>
